:root {
    --white: #f4f4f4;
} 

* {
    font-family: sans-serif;
    /*Remove scrollbars*/
    overflow: hidden;
    scrollbar-width: none;

    margin: 0;
    padding: 0;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*::-webkit-scrollbar {
    display: none;
}

#map {
    position: fixed;
    height: 100%;
    width: 100vw;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#debug {
    position: fixed;
    top: 500px;
    padding: 1vw;
    background-color: white;
    display: none;
}